# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized._

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

- Pandas
- NumPy
- ggplot2

|   **Data Science Tools**   |
|----------------------------|
|      Jupyter Notebook      |
|          RStudio           |
|        Apache Spark        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335

**Objectives:**

- List some of the popular languages used by data scientists
- List some of the commonly used libraries in data science
- Create a table with common data science tools
- Perform basic arithmetic operations

## Author

Jean-Fran√ßois Jutras